.heading-text{
    margin: 0px;
    font-weight: 500;
    
  }
  .sub-heading{
    font-size: 13px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.57);
  
  }
  .access-token-container{
    border: 1px rgba(247, 247, 247, 1) solid;
    border-radius: 6px;
    background-color: rgba(247, 247, 247, 1);
  }
  .tick{
    color: green;
  }