.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.5px); /* Creates the blur effect */
    background-color: rgba(182, 178, 178, 0.2); /* Optional semi-transparent dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears on top of other elements */
  }
  
  .loader {
    img {
      width: 100px; /* Adjust the size of the loader image */
      height: 100px;
      animation: rotate 1.5s linear infinite; /* Rotating animation */
    }
  }
  
  /* Rotation animation */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  