<!-- <p>view-api-products works!</p> -->
<div class="container-fluid">
    <div class="row g-3 p-4">
        
        <div class="col-sm-12 navlist-container">
            <div class="row p-2 ">
                <div class="col-sm-12">
                    <h3 style="font-size: 18px;">API Product</h3>
                  </div>
            </div>
            
          <div class="row p-2 gap-4">
            <!-- <div class="col-sm-1 navlist-button-main">
              <a mat-list-item routerLink="overview" routerLinkActive="active" class="navlist-button">
                    <span class="navlist-heading">Overview</span>
               </a>
            </div> -->
            <div class="col-sm-1">
              <a mat-list-item routerLink="overview" routerLinkActive="active" class="navlist-button">
                  <span class="navlist-heading">Overview</span>
             </a>
          </div>
            <div class="col-sm-1">
              <!-- <button class="navlist-button">Try it</button> -->
              <a mat-list-item routerLink="subscription" routerLinkActive="active" class="navlist-button">
                <span class="navlist-heading">Subscriptions</span>
           </a>
            </div>
            
            <!-- <div class="col-sm-1">
                <a mat-list-item routerLink="comments" routerLinkActive="active" class="navlist-button">
                    <span class="navlist-heading">Comments</span>
               </a>
            </div> -->
          </div>
        </div>
        <div class="col-sm-12 navlist-container">  
            <div class="row p-2">
              <div class="col-sm-12">
                  <router-outlet></router-outlet>
              </div>
            </div>
          </div>
    </div>
</div>