<div class="container">
  <div class="row mt-4" *ngIf="!(apiDataFromOverview?.authBasic  != null)">
    <h4>Key and Secret</h4>
    <div class="col-sm-6 d-flex flex-column justify-content-between">
      <!-- <label for="clientId" class="form-label">Client ID</label> -->
      <div class="input-group">
        <input type="text" class="form-control" id = "id"
              [value]="apiDataFromOverview?.ekeyClockClient?.clientId || ''" placeholder="" readonly />
              
      </div>
      <div class="form-text">Consumer key of the application</div>
    </div>
    
    <div class="col-sm-6 d-flex flex-column justify-content-between">
      <!-- <label for="secret" class="form-label">Client Secret</label> -->
      <div class="input-group">
        <input type="{{ isPasswordVisible ? 'text' : 'password' }}" class="form-control" id="secret"
            [value]="apiDataFromOverview?.ekeyClockClient?.secret || ''" placeholder="" readonly />
        <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
            <i [ngClass]="isPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
        </button>
        
    </div>
    <div class="form-text">Consumer secret of the application</div>
    </div>

  </div>

  <div class="row mt-3" *ngIf="!(apiDataFromOverview?.authBasic  != null)">
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm-8">
          <!-- <label for="token" class="form-label">Access Token</label> -->
        <div class="input-group">
          <input type="{{ isTokenVisible ? 'text' : 'password' }}" class="form-control" id="token"
                  [value]="accessToken || ''" placeholder="" readonly />
            <button type="button" class="btn btn-outline-secondary" (click)="toggleTokenVisibility()">
                  <i [ngClass]="isTokenVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
              <button 
              type="button" 
              class="btn btn-outline-secondary" 
              (click)="copyToClipboard()">
              <i class="bi bi-clipboard"></i>
            </button>
        </div>
        <div class="form-text">Enter Access Token</div>
        
        </div>
        <div class="col-sm-4">
          <button class="access-token-button" (click)="getKey()">Get Access Token</button>
        </div>
      </div>
      
    </div>
    
  </div>

  <div class="row mt-4" *ngIf="(apiDataFromOverview?.authBasic  != null)">
    <h4>Basic Authentication</h4>
    <div class="col-sm-4 d-flex flex-column justify-content-between">
      <!-- <label for="clientId" class="form-label">Client ID</label> -->
      <div class="input-group">
        <input type="text" class="form-control" id = "id"
        [(ngModel)]="username" placeholder="user name"/>   
      </div>
      <div class="form-text">User Name</div>
    </div>
    
    <div class="col-sm-4 d-flex flex-column justify-content-between">
      <!-- <label for="secret" class="form-label">Client Secret</label> -->
      <div class="input-group">
        <input type="{{ isPasswordVisible ? 'text' : 'password' }}" class="form-control" id="secret"
        [(ngModel)]="password" placeholder="password"/>
        <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
            <i [ngClass]="isPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
        </button>
        
    </div>
    <div class="form-text">Password</div>
    </div>
    <div class="col-sm-4">
      <!-- <label for="secret" class="form-label">Client Secret</label> -->
      <button class="access-token-button1" (click)="enterUserDeatils()">Submit</button>
    </div>

  </div>
  <!-- <div class="row mt-4" *ngIf="(apiDataFromOverview?.authBasic  != null)">
    
    <div class="col-sm-6 d-flex flex-column justify-content-between">
     
    </div>
    
    <div class="col-sm-6 d-flex flex-column justify-content-center align-item-center">
      <button class="access-token-button1" (click)="enterUserDeatils()">Enter</button>
    </div>

  </div> -->
  <!-- <div class="col-sm-12 row token-field d-flex">
    

    <label for="token" class="form-label">Access Token</label>
    <div class="input-group">
      <input type="{{ isTokenVisible ? 'text' : 'password' }}" class="form-control" id="token"
              [value]="accessToken || ''" placeholder="" readonly />
			  <button type="button" class="btn btn-outline-secondary" (click)="toggleTokenVisibility()">
              <i [ngClass]="isTokenVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
    </div>
    <div>
      <button class="access-token-button" (click)="getKey()">Get Access Token</button>
    </div>


  </div> -->

  <div class="row" style="background-color: white;">
    <div class="col-sm-12">
      <div id="swagger-ui"></div>
    </div>
  </div>
</div>

<!-- <div id="json">{{jsonData}}</div> -->