.token-field {
  background-color: lightgray;
  border-radius: 10px;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.id-and-secret{
  margin-top: 60px;
}

.id-field{
  width: 300px;
  height: 40px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.74), 0px 1px 1px 0px rgba(0, 0, 0, 0.64), 0px 1px 3px 0px rgba(0, 0, 0, 0.62);
}
.secret-field{
  border-right: none;
  width: 300px;
  height: 40px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.74), 0px 1px 1px 0px rgba(0, 0, 0, 0.64), 0px 1px 3px 0px rgba(0, 0, 0, 0.62);
}
.secret{
  margin-top: 20px;
}
.eye-button{
  height: 40px;
  border-left: none;
  border: 1px lightgrey solid;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.74), 0px 1px 1px 0px rgba(0, 0, 0, 0.64), 0px 1px 3px 0px rgba(0, 0, 0, 0.62);
}

.access-token-text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.74);
}
.access-token-text p{
  margin-bottom: 0;
}

.access-token-field {
  margin: auto;
  width: 440px;
  height: 40px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.74), 0px 1px 1px 0px rgba(0, 0, 0, 0.64), 0px 1px 3px 0px rgba(0, 0, 0, 0.62);
 
}



.access-token-button {
  border: 3px rgba(6, 70, 122, 1) solid;
  border-radius: 6px;
  color: black;
  height: 37px;
  background-color: white;
}
.access-token-button:hover{
  background-color: rgba(6, 70, 122, 1);
  color: white;
}

.access-token-button1 {
  border: 3px rgba(6, 70, 122, 1) solid;
  border-radius: 6px;
  color: black;
  height: 37px;
  background-color: white;
  width: 100px;
  
}
.access-token-button1:hover{
  background-color: rgba(6, 70, 122, 1);
  color: white;
}

.consumer-key-text{
  color:rgba(91, 189, 102, 1);
}

.heading-text{
  margin: 0px;
  font-weight: 500;
  
}

.sub-heading{
  font-size: 13px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.57);
}


.key-text{
  color:rgba(91, 189, 102, 1);
}
.access-token-container{
  border: 1px rgba(247, 247, 247, 1) solid;
  border-radius: 6px;
  background-color: rgba(247, 247, 247, 1);
  
}
.tick{
  color: green;
}
