<div class="container-fluid">
  <div class="row g-3 p-4">
    
    <div class="col-sm-12 navlist-container">
        <div class="row p-2 ">
            <div class="col-sm-12">
                <h3 style="font-size: 18px;">Configurations</h3>
                <p style="font-size: 11px;">Configure your API here</p>
              </div>
        </div>
        
      <div class="row p-2 gap-2">
        <!-- <div class="col-sm-1 navlist-button-main">
          <a mat-list-item routerLink="overview" routerLinkActive="active" class="navlist-button">
                <span class="navlist-heading">Overview</span>
           </a>
        </div> -->
        <div class="col-sm-1">
          <a mat-list-item routerLink="doc" routerLinkActive="active" class="navlist-button">
              <span class="navlist-heading">Documents</span>
         </a>
      </div>
        <div class="col-sm-1">
          <!-- <button class="navlist-button">Try it</button> -->
          <a mat-list-item routerLink="tryIt" routerLinkActive="active" class="navlist-button">
            <span class="navlist-heading">Try it</span>
       </a>
        </div>
        
        <!-- <div class="col-sm-1">
            <a mat-list-item routerLink="comments" routerLinkActive="active" class="navlist-button">
                <span class="navlist-heading">Comments</span>
           </a>
        </div> -->
      </div>
    </div>

    <div class="col-sm-12 navlist-container">
                
      <div class="row p-2">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
<!-- 
    <div class="col-sm-10">
     <router-outlet></router-outlet>
    </div> -->
  </div>
</div>
