<div class="container">
  <div class="row d-flex align-item-center justify-content-center" style="height: 400px;">
    <div class="d-flex align-item-center justify-content-center">
      <img class="image" src="../../assets/images/Page-1.svg" alt="">
    </div>
    <div class="d-flex align-item-center justify-content-center">
      <h2>COMING SOON...!</h2>
    </div>
    <!-- <div class="col-sm-12 second-col">
      <div class="d-flex col-sm-4" style="margin-left: 20px;">
        <div class="col-sm-6" style="margin: auto;">
          <h2>{{apiData?.name}}</h2>
          
        </div>
       
        <div class="col-sm-6" style="margin: auto;">
          <p>by <b>{{apiData?.createdBy}}</b></p>
        </div>
      </div>
      <div class="row  d-flex align-items-center" style="height: 100px;">
        <div class="col-sm d-flex align-items-center justify-content-center">
          <p style="margin-bottom: auto;">URL :</p>
        </div>
        
        <div class="col-sm-8">
          <input class="url-input" type="text"
            value="&nbsp; &nbsp;" />
        </div>

        <div class="col-sm-3 d-flex align-items-center ">
         <button class="btn btn-primary" (click)="goTOTry()">Try it</button>

        </div>
        
      </div>

    </div> -->
  </div>
</div>